h1
{
    text-align: center;
    border: 2px solid black;
    width: 400px;
    background-color: deepskyblue;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}
body
{
    background: url(../Ressources/bonne_biere_rousse_img_2048x1528.jpg) top;
}
#content
{
    height: 1000px;
    width: 550px;
    border: 2px solid white;
    border-radius: 20px;
    float: left;
}
#picture
{
    width: 500px;
    height: 400px;
    background: url(../Ressources/t%C3%A9l%C3%A9chargement.jpg) center no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    background-size: cover;
}
.text
{
   width: 500px; 
   margin-left: auto;
   margin-right: auto;
}